{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <div class="container">
        <h2>Listing: {{ listing.name }}</h2>
    </div>

    <div class="container">
        {% if listing.active %}
            Status: <span class="badge badge-pill badge-success">OPEN</span><br>
            {% if watched and user.is_authenticated %}
                <a href="{% url 'remove_watchlist' listing.id %}">Remove Watchlist</a><br>
            {% elif user.is_authenticated %}
                <a href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a><br>
            {% endif %}
        {% else %}
            <p>Status: <span class="badge badge-pill badge-secondary">CLOSED</span></p>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="width: 50%;">
                {% if listing.image_url %}
                    <img class="card-img-top" src="{{ listing.image_url }}" width="90%" alt="No image available">
                {% else %}
                    <img class="card-img-top" style="width:80%;" src="{% static 'auctions/no_image.jpg' %}">
                {% endif %}
            </div>
            <div class="col-sm" style="width: 50%; flex-direction: column;">
                <h4>Details:</h4>
                <ul style="margin-left:-20px;">
                    <li>Listed by: {{ listing.user }}</li>
                    {% if listing.category %}
                        <li>Category: {{ listing.category }}</li>
                    {% else %}
                        <li>Category: none</li>
                    {% endif %}
                    <li>Created at: {{ listing.created_date }}</li>
                    {% if not listing.active %}
                    <li>Closed at: {{ listing.closed_date }}</li>
                    {% endif %}
                </ul>
            </div>
        </div><br>
        <h6>Description:</h6>
        <p id="description" style="margin-bottom: 5px;">{{ listing.description }}</p>
    </div>
    <div class="container">
        {% if listing.active %}
            <h6>Current bid:</h6>
            {% if max_bid %}
                <h4>${{ max_bid.price }}</h4>
            {% else %}
                <h4>${{ listing.price }}</h4>
            {% endif %}
            {% if user == listing.user %}
                <a href="{% url 'close' listing.id %}" class="btn btn-info" style="margin-bottom: 5px;">Close Listing</a><br>
            {% elif user.is_authenticated %}
                <form action="{% url 'bid' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control" style="display: inline; width: max(200px, 30%);" type="number" step=0.01 min=0 name="price">
                    <input class="btn btn-info" style="margin-left: 5px; margin-top: -5px;" type="submit" value="Place Bid">
                </form>
            {% endif %}
            {{ count }} bid(s) so far.
            {% if max_bid.user == user %}
                Your bid is the current bid.
            {% endif %}
        {% else %}
            {% if max_bid.user == user %}
                <strong>Congratulations!</strong> You have won this listing with ${{ max_bid.price }}.
            {% elif max_bid and user == listing.user %}
                <strong>{{ max_bid.user }}</strong> has won this listing with ${{ max_bid.price }}.
            {% endif %}    
        {% endif %}
    </div>
    <div class="container">
        <br><h3>Comments</h3>
        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            <textarea class="form-control" name="comment" style="width: 70%; margin-bottom: 5px;"  placeholder="Leave comments..."></textarea>
            <input class="btn btn-outline-secondary" type="submit" value="Comment">
        </form><br>
        {% for comment in comments %}
        <p id="description" style="width: 70%">
            <strong>{{ comment.user }} </strong><i>commented at {{ comment.date }}</i><br>
            <span class="text-muted">{{ comment.details }}</span>
        </p>
        {% endfor %}
    </div>
{% endblock %}